/* html, body {
    width:  100%;
    height: 100%;
    margin: 0; */
  /* } */

  /* canvas{height: 100vh;} */
  .swiper-slide{

      /* background: lightyellow */
  }
   h1{
     /* border: 1px black solid; */
    /* font-size: 25vw; */
    font-size: 25.5vw;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align:left;
    white-space: nowrap;
    /* display: inline;  */
    width:100%;
    height: 100%;


  }
  .auto{
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 24.5vw;


  }
