<ion-view view-title="Draw">
  <ion-content >
    <div class="bar bar-header" ng-controller ="drawCtrl">
      <a class="button icon ion-chevron-left button-royal"  href="#/home" >Back</a>
      <a class="button icon ion-paint-brush-right button-dark"  ng-click="reset()" >Clear</a>
    </div>
          <!-- <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
      <button class="button button button-positive icon ion-mic-a"></button>
        </a> -->
    <canvas width="100%" height="300" id="canvas" drawing></canvas>

  </ion-content>  
</ion-view>