<ion-pane ng-controller="mainCtrl"> 
  <div class="bar content  bar-header"> 
    <a class="button icon-left ion-paintbrush  button-royal"  href="#/draw" >Draw</a>
    <a class="button icon button-dark"  href="#/swipe" >Manual swipe</a>
  </div>
  <a value='Start Scrolling' id ='b1' style="display:none"ng-click='stopScroll()'></a>

  <ion-content class="has-header" >
      <marquee scrolldelay="30"  scrollamount="25"  id="autoscroll" >
      <div ng-click="stopScroll()" >
        <h1 id="maintext" style="overflow:visible">{{recognized}}</h1>
      </div>
      </marquee>
      
      <div id='autoscroll2' ng-click="stopScroll()">
        <h1 id="maintext">{{recognized}}</h1>
      </div>
    </ion-content>

  <div style="height:15%"class="bar bar-footer">
    <button class="button icon button-royal ion-mic-a" style=" width:7%;border-radius:100%;" shape="round" ng-click="record()"  ng-mouseup="stop()"></button>
  </div>
</ion-pane>
        
        