<ion-view view-title="Dashboard">
    <ion-content class="padding">
  
    
          <!-- <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
      <button class="button button button-positive icon ion-mic-a"></button>
        </a> -->
  
  
        <ion-fab vertical="bottom" horizontal="start" slot="fixed">
            <ion-fab-button>
              <ion-icon name="arrow-dropup"></ion-icon>
            </ion-fab-button>
          </ion-fab>
  
  
      <!-- <ion-icon name="mic"></ion-icon> -->
  
    </ion-content>
  
  
  
  </ion-view>